*{
	margin:0;
	padding: 0;
}
header{
	background: #000000;
	height: 57px;
}
header .navbar{
	padding: 0;
}
header .navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
}
header .navbar a .text-sesion{
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
}
@media screen and (max-width: 450px){
	header .navbar a .text-sesion{
		display: none;
	}
}

.lg_claro{
	padding-left: 5px;
	padding-bottom: 5px;
}
.lg_claro-f{
	padding-right: 10px;
	padding-bottom: 5px;
	height: 30px;
}
@media screen and (max-width: 450px) {
	.lg_claro-f{
		display: block;
		margin: 0 auto;
	}
}
.bg-negro{
	background: #000;
	max-width: 350px;
	width: 100%;
}
@media screen and (max-width: 450px){
	.bg-negro{
		max-width: 100%;
	}
}
.bg_menu{
	position: fixed;
	z-index: -1;
	top:0;
	left: 0;
	margin-top: 57px;
	width: 100%;
	height: 100vh;
	background: rgba(255,255,255,.5);
}

.menu-main .item-menu{
	border-bottom: solid 1px #fff;
	padding: 5px 5px 5px 25px ;
}
.menu-main .item-menu:hover{
	background: #fff;
}
.menu-main .item-menu a{
	color: #fff;
}
.menu-main .item-menu a:hover{
	color: #000;
}
#main-nav .navbar-toggler{
	padding: 0 !important;
}
.main{
	position: relative;
	display: block;
	padding-top: 57px;
}
.navbar-dark .navbar-toggler-icon{
	background-image: url('../assets/ico-menu.svg') !important;
}
.navbar-dark .navbar-toggler{
	outline: 0;
	color: rgba(255, 255, 255, 0) !important;
	border-color: rgba(255, 255, 255, 0) !important; 
}

.carousel-item .carousel-caption{
	padding-top: 0;
	padding-bottom: 0; 
	bottom: 0;
}

.catalogos{
	padding: 20px 0 40px;
}
.catalogos img{
	margin: 0 auto;
	display: block;
	margin-left: 5%; 
}

.catalogos h2{
	text-align: center;
	font-size: 26px;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 30px;
}

.catalogos p{
	text-align: center;
	font-weight: 500;
}

.catalogos-m{
	display: block;
}

.campanias{
	background: #f2f2f2;
	padding: 20px;
	text-align: center;
}
.campanias h2{
	text-align: center;
	font-size: 26px;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 20px;
}
.enlace_ver{
	color: #008fa5;
	font-weight: 400;
}
.enlace_ver:hover{
	color: #008fa5;
}
footer{
	background: #212121;
	color: #fff;
}

.contacto{
	width: 100%;
}

@media screen and (max-width: 540px) {
	.contacto{
		text-align: center;
	}
	.contacto .text-right{
		text-align: center !important;
	}
}


.login-form{
	background: url('../assets/bg-form.jpg') no-repeat top center;
	background-size: cover;
	padding: 50px 20px;
	height: calc(100vh - 266px);

	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
@media screen and (max-width: 540px){
	.login-form{
		height: 540px;
	}
}

.formulario{
	background: #fff;
	padding: 20px;
	border: solid 1px #ccc;
	border-radius: 5px;
}

.formulario h2{
	font-weight: 400;
	text-align: center;
}
.formulario h2 span{
	font-weight: 700;
	color: #e23230;
}
.formulario p{
	font-size: 18px;
	text-align: center;
	color: #636363;
	padding: 5px;
}
.content-form{
	max-width: 300px;
	margin: 0 auto;
}
.btn-ingresa{
	display: block !important;
	margin: 0 auto;
}
.formulario .enlace_ver{
	display: block;
	text-align: center;
	padding-top: 10px;
}

/*--menu--*/
.main-nav {
	/*background: darkslateblue;*/
	height: 57px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/*.menu {
	transition: all 0.5s;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	opacity: 1;
	visibility: visible;
}*/
.menu__item {
	margin: 0 15px;
}
.menu__link {
	color: #fff;
	text-decoration: none;
}
.menu-bar {
	width: 30px;
	margin: 0;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}
.uno, .dos, .tres {
	width: 100%;
	background: white;
	height: 3px;
	transition: all 0.5s;
}
.dos {
	margin: 5px 0;
}
/*animacion*/

.mostrar .uno {
	transform: rotate(45deg) translate(5px, 5px);
}
.mostrar .dos {
	opacity: 0;
}
.mostrar .tres {
	transform: rotate(-45deg) translate(6px, -7px);
}
.mostrar .menu{
	visibility: visible;
	opacity: 1;
}

.btnwp-w{
	display: inline-block;
}
.btnwp-m{
	display: none !important;
}
@media screen and (max-width: 1100px){
	.btnwp-w{
		display: none !important;
	}
	.btnwp-m{
		display: inline-block !important;
	}
	.catalogos-m{
		display: none;
	}
}


@media screen and (max-width: 540px){
	.container .row .col-6 .h4{
		font-size: 22px;
	}
	.container .row .col-6 a.btn{
		font-size: 0.8rem;
	}
}

@media screen and (max-width:325px) {
	.container .row .col-6 .h4 {
		font-size: 18px;
		margin-top: 4px;
		display: inline-block;
	}
}

.main .container .dropdown{
	width: 70px;
	display: inline-block;
	vertical-align: top;
}
@media screen and (max-width: 325px){
	.main .container .dropdown{
		width: 47px;
	}
}

.main .container .dropdown .dropdown-menu.show{
	min-width: 60px;
}

.main .container .dropdown .dropdown-item{
	text-align: center;
	padding: 0.25rem 0.25rem;
}


.ico-compartir{
	padding: 5px 5px 5px !important;
}
@media screen and (max-width:325px){
	.ico-compartir{
		padding: 2px 3px 5px !important;
	}
	.ico-compartir img{
		width: 20px;
	}
}

.modal-content{
	background-color: transparent !important; 
	border: 0 !important;
	
}
.modal-content .modal-header{
	background: transparent !important;
	border: 0 !important;
}
.modal-content .modal-body{
	background-color: #000 !important;
}
.modal-content .modal-header .close{
	color: #fff !important;
	padding: 0;
}

.linkmodal{
	cursor: pointer;
	opacity: 1;
	transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}
.linkmodal:hover{
	opacity: 0.7;
}
.linkmodal img{
	transform:scale(1.0);
	transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
}
.linkmodal:hover img{
	transform:scale(1.02);
}


.derechos-reservados{
	font-size: 1rem;
}
@media screen and (max-width: 450px) {
	.derechos-reservados{
		font-size: 14px;
		display: block;
		text-align: center;
	}
}

@media screen and (max-width: 450px) {
	footer .container .row p {
		text-align: center;
	}

}


